
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: calc(100vh / 2 - 200px);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.date span:not(:last-child) {
    margin-right: 10px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

.time span:not(:last-child) {
    margin-right: 10px;
}